colorcito = #5BBAF4
resaltar = #086A87

body
	background colorcito
	
h1
	font-size 45px
	color #084B8A

ul
	margin 0
	padding 0
	
ul li
	list-style-type none
	display inline-block
	/*width 130px>*/
	text-align center
	/*padding 17px 0*/
	/*background #01A9DB*/
	/*color white*/
	font-size 20px
	
	/*border-radius 5px*/
	
ul li a
	display block
	width 130px
	padding 17px 0
	background #01A9DB
	color white
	border-radius 5px
	text-decoration none
	
ul li a:hover, .activo
	background resaltar
	cursor pointer

article
	width 280px
	display inline-block
	vertical-align top
	text-align left

button, input[type=submit], input[type=reset]
	border none
	padding 10px 20px
	border-radius 5px
	background #7ACA2F
	color white

button:hover, input[type=submit]:hover, input[type=reset]:hover
	background #4B8A08
	cursor pointer
	
fieldset
	border 1px solid blue
	border-radius 5px
	padding 10px 30px

fieldset legend
	color blue

#slogan
	margin-top 40px
	text-align center

#contenido
	margin-top 40px
	margin-buttom 40px
	/*border: 1px solid red;*/
	text-align center

#contenedor
	background #EEEEEE
	width 900px	
	margin 0 auto
	padding 10px
	box-shadow rgba(10,5,25,0.3) 0 0 20px //#848484
	border-radius 7px

footer
	margin-top 10px
	
#frmcontactos
	text-align left
	width 700px
	margin 0 auto

.control
	border 1px solid #999
	width 250px
	padding 5px
	font-size 12pt
	border-radius 5px

.control:focus
	background #F5ECCE
	
.trans
	opacity 0.7
	
// .activo
// 	background resaltar
	